h1 {
    text-align: center;
    margin: 0%
}

h5 {
    margin: 0%;
}

h3 {
    margin-top: 0%;
}

a:hover {
    text-decoration: none;
}


.titre-panier {
    font-size: medium;
    text-align: center;
    margin-bottom: 1em;
}


#img-catalogue {
    height: 100px;
    width: 100px;
    display: block;
    padding-bottom: 1em;
}

#img-catalogue-detail {
    padding-bottom: 1em;
}

#img-carousel {
    height: 250px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    display: block;
}

#thumbnail-carousel {
    margin-bottom: 0%;
}

.carousel {
    margin-bottom: 2em;
}

.desc-carousel {
     background-color: #222222;
     padding : 1em;
     border-radius: 4px;
     text-align: center;
     color: #AAAAAA;
}

.desc-carousel:hover {
    color: white;
}

#thumbnail-texte {
    background-color: #F2F3F3;
    border: 4px solid #222222;
}

.bouton-tri {
    text-align: center;
    padding-bottom: 1em;
}


.btn:hover,
.btn:focus,
.btn.focus {
    color: white;
    text-decoration: none;
}

.btn-default {
    background-color: #222222;
    color: #AAAAAA;
}

.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
    background-color: #222222;
    color: white;
    text-decoration: none;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus {
    background-color: #222222;
    color: white;
    text-decoration: none;
}

.desc-qte {
    background-color: #222222;
    color: white;
    padding: 1rem;
    margin-top: 1px;
    border-radius: 4px;
    text-align: center;
}

.bouton-valider {
    float: left;
    width: 100%;
    margin-bottom: 2%;
}

.desc-bouton {
    background-color: #222222;
    color: #AAAAAA;
    padding: 1rem;
    margin-top: 1px;
    border-radius: 4px;
    text-align: center;
}

.desc-bouton:hover {
    color: white;
}

.desc-detaillee {
    background-color: #222222;
    padding : 1em;
    border-radius: 4px;
    text-align: center;
    color: white;
}


.glyphicon-star-empty,
.glyphicon-star {
    color: #FEDE4B;
    font-size: 3ex;
}


.glyphicon-star-empty:hover,
.glyphicon-star:hover {
    color: #F29A02;
}

.etoiles {
    background-color: #222222;
    margin-top: 1px;
    padding-top: 3px;
    border-radius: 4px;
    text-align: center;
    color: #AAAAAA;
}

.etoiles-text-detail {
    color: white;
}

#note-orange {
    color: #F29A02;
}

#note-jaune {
    color: #FEDE4B;
}